{% extends 'layout.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extraCss %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock extraCss %}


{% block extraJsTop %}
<script src="https://unpkg.com/scrollreveal"></script>
{% endblock %}

{% block content %}

<section class="py-5">
  <div class="text-secondary text-center" id="topshow">
    <div class="pt-5">
      <h1 class="display-5 fw-bold text-white mb-4">New Value <br /> New Sci-Fan <br /> New Creation</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Whether it is an imaginative idea, a science fiction story or a visual work, it can be
          given new value in the Web3.0 era dominated by blockchain.</p>
        {% comment %} <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">开始创作</button>
          <button type="button" class="btn btn-outline-light btn-lg px-4">访问社区</button>
        </div> {% endcomment %}

        <h5 class="text-white-50">Open registration countdown</h5>

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">
            <span id="_d">00</span>
            <span id="_h">00</span>
            <span id="_m">00</span>
            <span id="_s">00</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %} <section class="py-5" id="idea">
  <div class="container">
    <div class="row align-items-md-stretch bg-transparent">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white opacity-75 headline" style="background: #000;">
          <h2 class="text-info">章鱼网络加速器计划</h2>
          <p>赛凡链正处于章鱼网络加速器中进行孵化，按照计划，上线后将得到一批验证人来确保链数据的安全。</p>
          <button class="btn btn-outline-light" type="button">探查究竟</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5  bg-dark opacity-75 headline">
          <h2>科幻作家登舰计划</h2>
          <p>首批完成链上存证的30位作家将获得Token奖励。</p>
          <button class="btn btn-outline-secondary" type="button">报名应征</button>
        </div>
      </div>
    </div>
  </div>
</section> {% endcomment %}

<section class="py-5" id="vision">
  <div class="container">
    <div class="row">
      <h1 class="pb-5 text-center">Philosophy and Vision</h1>
      <div class="col-md-6 headline">
        <p>
          Scifan chain is an applied blockchain focusing on science fiction industry. Sci-Fan-Chain stands for science,
          fantasy and blockchain respectively. The concept of scifan chain is to reshape the production relationship of
          science fiction industry, make the creation of science fiction industry value more efficient, and the
          distribution more reasonable and fair. Its core goal is to capture the value of science fiction industry, make
          full use of new thinking, new technology and new ecological construction mode, and enable creators, readers,
          investors, communicators and operators to cooperate creatively in an unprecedented mode, Promote the rapid
          development of this industry.
        </p>
        <p>
          Based on advanced blockchain technology and combined with application layer and client, Scifan chain creates a
          decentralized, open, inclusive, safe and intelligent science fiction creation application chain to inject
          vitality into the science fiction ecology full of infinite possibilities.
        </p>
      </div>

      <div class="col-md-6 text-end headline">
        <img src="{% static 'img/value_get.svg' %}" alt="" class="img-fluid">
      </div>

    </div>
  </div>
</section>


<section class="album pb-5 backgroundline" id="intro">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 opacity-75">
      <div class="col headline">
        <div class="card  bg-dark h-100">
          {% comment %} <img src="{% static 'img/new_scifan_04.jpg' %}" alt=""> {% endcomment %}
          <i class="bi-disc-fill text-center home-icon text-info"></i>

          <div class="card-body bg-dark small">
            <p class="card-text">
              We are in the age of science fiction! People's deep and wide exploration and thinking about the world
              drives us to explore the mysteries of the stars and the soul with unprecedented eyes. A new language is
              being born, and the creation, reading and communication mode of science fiction art is facing
              comprehensive innovation.
            </p>
          </div>
        </div>
      </div>

      <div class="col headline">
        <div class="card  bg-dark h-100">
          <i class="bi-currency-bitcoin text-center home-icon text-info"></i>
          <div class="card-body bg-dark small">
            <p class="card-text">
              Capture the value of works, transform them into corresponding resources and release energy. Through the
              token economic model of blockchain, creators can get financial support in the early stage of creation, so
              as to focus on creation. The application of token stimulates the imagination and creative enthusiasm of
              all practitioners.
            </p>

          </div>
        </div>
      </div>

      <div class="col headline">
        <div class="card shadow-sm bg-dark h-100">
          <i class="bi-tropical-storm text-center home-icon text-info"></i>

          <div class="card-body bg-dark small">
            <p class=" card-text">
              Create a modern negotiation model based on the balanced optimization algorithm, return the ownership and
              operation rights of the industry to the communities governed by practitioners, introduce a decentralized
              consensus mechanism, develop ecology, stimulate creativity, activate unlimited possibilities, and create a
              new culture that is proactive and determined to seek new ideas.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="py-lg-5 backgroundline" id="section-block-chain">
  <div class="container">
    <div class="row text-center">
      <h1 class="pb-3">Technical Architecture</h1>
      <h2 class="pb-5 text-white-50">Combining science fiction industry with blockchain</h2>
    </div>

    <div class="row">

      <div class="col-md-8 col-12">
        <img src="{% static 'img/structure.png' %}" alt="" class="img-fluid">
      </div>

      <div class="col-md-4 col-12">
        <p>
          Scifan chain obtains the resources and value of science fiction industry chain from the upstream. After a
          series of technical processing, it finally allows them to be applied in reality to form a complete closed
          loop.
        </p>
        <p>
          The value of all works on the Scifan chain has access to the real world. Written works can derive CG, 3D
          models, VR, film and television works, can become paper publications and electronic publications, and can be
          directly distributed online to readers by subscription. They will eventually produce real value. When the
          chain gradually develops and matures, it will become an infrastructure of the whole science fiction industry.
          All kinds of offline companies, institutions and employees can attach their labor achievements to the chain.
          At that time, the Scifan chain captures the value of all industries, and these values really belong to the
          people who created it and will not be deprived by any privileged, chaebol or monopolist.
        </p>

      </div>


    </div>
  </div>
</section>


<section class="py-lg-5 text-white rounded backgroundline" id="section-framework">
  <div class="container">
    <div class="row">
      <h1 class="pb-3 text-center">Unique Value</h1>
      <h3 class="pb-5 text-white-50 text-center">Create science fiction that combines multiple genes</h3>
      <div class="col-lg-4 text-white headline">
        <p>
          Every work on the Scifan chain has unique value. A variety of technologies are used in the creation process of
          works. They all constitute the gene of works, making its significance far beyond its own content.
        </p>
        <p>
          Scifan chain uses human creation to replace algorithm mining. We firmly believe that language, science and
          art,
          imagination and thinking, and the starry universe are full of value, and the creators can dig them out, and
          the
          algorithm can't do anything about it. The token economy of Scifan chain is based on human creativity and
          labor.
          A series of algorithms and protocols are designed around the creative process in order to reasonably express
          the
          value of works in different stages. In short, we use the number of words as a reference to express the
          quantitative value of the works, and the quality value of the works is expressed by grade and maturity. The
          quantitative value is given by program statistics, and the quality value is evaluated by the community through
          full voting.
        </p>
      </div>
      <div class="col-lg-8 col-md-8 headline">
        <img src="{% static 'img/DNA.svg' %}" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>


<section class="py-lg-5 text-white backgroundline">
  <div class="container headline">
    <div class="row text-center">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>Roadmap</h1>
      </div>
      <div class="col-12">
        <img src="{% static 'img/roadmap.svg' %}" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<div class="col-10"></div>

<section class="py-lg-5 text-white backgroundline">
  <div class="container headline">
    <h1 class="text-center pb-5">Team Member</h1>
    <div class="row text-center">

      <div class="col-md-3 col-6 px-5">
        <img src="{% static 'img/unity.jpg' %}" class="figure-img img-fluid rounded-circle mb-3" alt="...">
        <h6 class="fw-bold">Unity</h6>
        <p class="text-white-50 small">
          founder, independent developer, science fiction writer, responsible
          for application layer and client development.
        </p>
      </div>

      <div class="col-md-3 col-6 px-5">
        <img src="{% static 'img/chaijie.jpg' %}" class="figure-img img-fluid rounded-circle mb-3" alt="...">
        <h6 class="fw-bold">Chai Jie</h6>
        <p class="text-white-50 small">
          graduate student, School of microelectronics, University of science and technology of China, member
          of the editorial department of trust Chinese open source journal, developed by substrate.
        </p>
      </div>

      <div class="col-md-3 col-6 px-5">
        <img src="{% static 'img/lixing.jpg' %}" class="figure-img img-fluid rounded-circle mb-3" alt="...">
        <h6 class="fw-bold">April</h6>
        <p class="text-white-50 small">
          creative copywriter, responsible for the organization and promotion of
          community activities.
        </p>
      </div>

      <div class="col-md-3 col-6 px-5">
        <img src="{% static 'img/stven.jpg' %}" class="figure-img img-fluid rounded-circle mb-3" alt="...">
        <h6 class="fw-bold">Stevenyin</h6>
        <p class="text-white-50 small">
          with rich development experience, has been deeply engaged in
          blockchain technology for many years and has been developed by substrate.
        </p>
      </div>

    </div>
  </div>
</section>

<section class="py-lg-5">
  <div class="container headline">
    <h1 class="text-center pb-5">Ecosystem</h1>
    <div class="row text-center">
      <div class="col-md-2 mx-auto">
        <a href="https://oct.network/" target="_blank">
          <img src="{% static 'img/octopus_logo_white.png' %}" alt="" class="px-4 img-fluid"></a>
      </div>
      <div class="col-md-2 mx-auto">
        <a href="https://near.org/" target="_blank">
          <img src="{% static 'img/logo_near.png' %}" alt="" class="px-4 img-fluid">
        </a>
      </div>
    </div>
  </div>
</section>

<script>
  ScrollReveal().reveal('.headline', {
    delay: 300,
    reset: true,
    easing: 'cubic-bezier(0.5, 0, 0, 1)',
    scale: 0.85
  });
  ScrollReveal().reveal('.backgroundline', {
    delay: 200,
    reset: true,
    opacity: 0,
    scale: 0.8,
    easing: 'cubic-bezier(0.5, 0, 0, 1)',
    scale: 0.5
  });
</script>


<script type="text/javascript">
  function Appendzero(obj) {
    if (obj < 10) return "0" + "" + obj;
    else return obj;
  }

  function countTime() {
    //获取当前时间  
    var date = new Date();
    var now = date.getTime();
    //设置截止时间  
    var str = "2021/10/1 00:00:00";
    var endDate = new Date(str);
    var end = endDate.getTime();

    //时间差  
    var leftTime = end - now;
    //定义变量 d,h,m,s保存倒计时的时间  
    var d, h, m, s;
    if (leftTime >= 0) {
      d = Math.floor(leftTime / 1000 / 60 / 60 / 24);
      h = Math.floor(leftTime / 1000 / 60 / 60 % 24);
      m = Math.floor(leftTime / 1000 / 60 % 60);
      s = Math.floor(leftTime / 1000 % 60);
    }

    //将倒计时赋值到div中  
    document.getElementById("_d").innerHTML = Appendzero(d) + " D ";
    document.getElementById("_h").innerHTML = Appendzero(h) + " H ";
    document.getElementById("_m").innerHTML = Appendzero(m) + " M ";
    document.getElementById("_s").innerHTML = Appendzero(s) + " S ";
    //递归每秒调用countTime方法，显示动态时间效果  
    setTimeout(countTime, 1000);

  }
  countTime();
</script>



{% endblock %}