{% extends 'layout.html' %}
{% load static %}

{% block title %}首页{% endblock %}

{% block extraJsTop %}
<script src="https://unpkg.com/scrollreveal"></script>
{% endblock %}

{% block content %}
<div class="text-secondary px-4 py-5 text-center" id="topshow">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">新科幻·新价值·新缔造</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">无论是一个有想象力的创意，还是一篇科幻故事，一个视觉作品，都可以在以区块链为主导的Web3.0时代被赋予全新价值。</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">开始创作</button>
        <button type="button" class="btn btn-outline-light btn-lg px-4">访问社区</button>
      </div>
    </div>
  </div>
</div>

<section class="py-5" id="idea">
  <div class="container">
    <div class="row align-items-md-stretch mt-4 bg-transparent">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white border opacity-75 rounded-3 headline" style="background: #000;">
          <h2 class="text-info">章鱼网络加速器计划</h2>
          <p>赛凡链正处于章鱼网络加速器中进行孵化，按照计划，上线后将得到一批验证人来确保链数据的安全。</p>
          <button class="btn btn-outline-light" type="button">探查究竟</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5  bg-dark opacity-75 headline">
          <h2>科幻作家登舰计划</h2>
          <p>首批完成链上存证的30位作家将获得Token奖励。</p>
          <button class="btn btn-outline-secondary" type="button">报名应征</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 headline">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <p>
          赛凡链是一个专注于科幻产业的应用型区块链。Sci-fan-chain分别代表science（科学）、fantasy（幻想）和blockchain（区块链）。赛凡链的理念是重塑科幻产业生产关系，让科幻产业价值的创造更加高效，分配更加合理公平，其核心目标在于捕获科幻产业的价值，充分利用新思维、新技术和新的生态建设模式，使创作者、读者、投资者、传播者、运营者之间以前所未有的模式创造性地合作，促进这个产业的高速发展。
        </p>
        <p>
          赛凡链以最新区块链技术为基础，结合应用层和客户端，打造一个去中心化、开放包容、安全智慧的科幻创作应用链，为充满无限可能的科幻生态注入生机，开创数字艺术的新模式。
        </p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'img/bg_10.jpg' %}" alt="" class="img-fluid">
      </div>
    </div>

  </div>
</section>

<div class="album py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 opacity-75">
      <div class="col">
        <div class="card border-info">
          <img src="{% static 'img/new_scifan_04.jpg' %}" alt="">

          <div class="card-body bg-dark small text-info">
            <p class="card-text">我们已身处科幻时代！人们对身处实现世界的深广探索和思考，驱使我们以前所未有的目光探究星空和心灵的奥秘。新的语言正在诞生，科幻艺术的创作、阅读和传播模式面临全面革新。</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card border-info">
          <img src="{% static 'img/new_scifan.jpg' %}" alt="">
          <div class="card-body bg-dark text-info small">
            <p class="card-text">
              以人的创造劳动为核心来计算价值，链上价值体现的是所有用户的真实创造价值，以区块链通证为基础打造作品创作、传播和应用的驱动引擎，构成独特的作品区块链基因图谱，为科幻产业注入澎湃动力。
            </p>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm border-info">
          <img src="{% static 'img/new_scifan_06.jpg' %}" alt="">

          <div class="card-body bg-dark small text-info">
            <p class=" card-text">
              建设基于平衡寻优算法的现代磋商模式，把产业的所有权、运营权交还给由从业者治理的社区，引入去中心化的共识机制发展生态，激发创造性，激活无限可能，缔造积极进取、锐意图新的新文明。</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<section class="py-lg-5 backgroundline" id="section-block-chain">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="">Substrate-BlockChain</h1>
        <h1 class="mb-4">区块链引擎驱动</h1>
        <p class="lead">
          赛凡链的首批用户是一批科幻作家、读者和支持者。作家在赛凡链创作作品，读者和支持者帮助作品的创作和流通，他们付出劳动，得到Token激励。
        </p>
        <p class="text-info">
          赛凡链采用人的创作来替代算法挖矿，我们深信语言文字、科学和艺术、想象和思考、星空宇宙都饱含价值，而能把它们挖掘出来的是创作者，算法对此无能为力。赛凡链的Token经济建立在人的创造力和劳动的基础上，我们的一系列算法和协议都围绕着创造过程设计，以求合理地表达不同阶段作品的价值。简单来说，我们采用字数为参考来表达作品的数量价值，以品级、成熟度来表示作品的质量价值，数量价值由程序统计给出，而质量价值则由社区通过全员投票来评定。
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 headline">
        <h2>区块链引擎</h2>
        <hr>
        <p>星河宇宙概念框架</p>
        <ul>
          <li>星际飞船</li>
          <li>星际飞船</li>
          <li>星际飞船</li>
        </ul>
      </div>
      <div class="col-md-6 text-end headline">
        <h2>区块链引擎</h2>
        <hr>
        <p>星河宇宙概念框架</p>
        <ul>
          <li>星际飞船</li>
          <li>星际飞船</li>
          <li>星际飞船</li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section class="py-lg-5 text-white rounded">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>SFC-DOVS</h1>
        <h1>高效作品生产流程</h1>
        <p class="lead text-muted text-info">
          我们让整个赛凡链的作品能够互相渗透、融合，构建出一个有完整世界观的宇宙，可以无穷无尽地演化。赛凡链是科幻文学创作上与互联网技术的独特创新，真正体现Web3.0的宏伟愿景。我们相信，在科幻与Web3.0谜一般的基因混合下，令人激动的、前所未有的新事物会被缔造出来。
        </p>
      </div>
    </div>

  </div>

</section>

<section class="py-lg-5 text-white backgroundline" id="section-framework">
  <div class="container headline">
    <div class="row text-center">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>Universe Framework</h1>
        <h1>先进的宇宙概念框架</h1>
        <p class="lead text-info">
          赛凡链为创作者提供一个基本的结构，描绘了自洽的宇宙和世界图景，该图景足够宏大，有向外和向内两个维度，向外可以拓展到无限星空，而向内，则深入人类的精神世界。基于该框架进行创作，会在艺术、科学、哲学、宗教上进行自然而然的、拥有相当深度和广度的对话、碰撞。
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-lg-5 text-white backgroundline">
  <div class="container headline">
    <div class="row text-center">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>Universe Framework</h1>
        <h1>路线图</h1>
        <p class="lead text-info">
          赛凡链为创作者提供一个基本的结构，描绘了自洽的宇宙和世界图景，该图景足够宏大，有向外和向内两个维度，向外可以拓展到无限星空，而向内，则深入人类的精神世界。基于该框架进行创作，会在艺术、科学、哲学、宗教上进行自然而然的、拥有相当深度和广度的对话、碰撞。
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-lg-5 text-white backgroundline">
  <div class="container headline">
    <div class="row text-center">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>Universe Framework</h1>
        <h1>我们团队</h1>
        <p class="lead text-info">
          赛凡链为创作者提供一个基本的结构，描绘了自洽的宇宙和世界图景，该图景足够宏大，有向外和向内两个维度，向外可以拓展到无限星空，而向内，则深入人类的精神世界。基于该框架进行创作，会在艺术、科学、哲学、宗教上进行自然而然的、拥有相当深度和广度的对话、碰撞。
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-lg-5">
  <div class="container headline">
    <h2 class="text-center">生态伙伴</h2>
    <hr>

    <p>概念框架：星河宇宙构建</p>
    <ul>
      <li>星际飞船</li>
      <li>星际飞船</li>
      <li>星际飞船</li>
      <li>星际飞船</li>
      <li>星际飞船</li>
    </ul>
  </div>
</section>


<section class="py-lg-5" id="section-partners">
  <div class="container headline">
    <p>概念框架：星河宇宙构建</p>
    <ul>
      <li>星际飞船</li>
      <li>星际飞船</li>
      <li>星际飞船</li>
      <li>星际飞船</li>
      <li>星际飞船</li>
    </ul>
  </div>
</section>



<script>
  ScrollReveal().reveal('.headline', {
    delay: 300,
    reset: true,
    easing: 'cubic-bezier(0.5, 0, 0, 1)',
    scale: 0.85
  });
  ScrollReveal().reveal('.backgroundline', {
    delay: 100,
    reset: true,
    easing: 'cubic-bezier(0.5, 0, 0, 1)',
    scale: 0.5
  });
</script>

{% endblock %}