{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="赛凡链官网。Scifanchain web.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <link rel="bookmark" href="{% static 'favicon.ico' %}" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'font/' %}bootstrap-icons.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    {% block extraCss %}{% endblock %}
    {% block extraJsTop %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="{% static 'img/logo.png' %}" alt="" height="30">
          <span class="px-2">{% translate "赛凡链" %}</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'works:index' %}">{% translate "作品" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'community:home' %}">{% translate "社区" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blogs:index' %}">{% translate "博客" %}</a>
            </li>
          </ul>
        </div>
        {% if user.is_authenticated %}
        <div class="dropdown mx-4">
          <a class="dropdown-toggle text-white text-decoration-none" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi-plus" style="font-size: 1.5rem;"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">{% translate "开始创作" %}</a></li>
            <li><a class="dropdown-item" href="#">{% translate "参与治理" %}</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">{% translate "帮助" %}</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <a class="dropdown-toggle text-white text-decoration-none" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ MEDIA_URL }}avatars/{{ user.date_joined.year }}/{{ user.username }}.svg" alt=""
              class="avatar-tiny" id="AvatarTiny">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            <li><strong class="p-3">Hi,{{ user.username }}</strong></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'authors:home' %}">{% translate "工作空间" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'authors:wallet' %}">{% translate "钱包" %}</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'authors:profile' %}">{% translate "设置" %}</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">{% translate "退出" %}</a></li>
          </ul>
        </div>
        {% else %}
        <a href="{% url 'register' %}" class="px-3">{% translate "注册" %}</a>
        <a href="{% url 'login' %}">{% translate "登录" %}</a>
        {% endif %}
      </div>
    </nav>

    <main>
      {% block content %}
      {% endblock content %}
    </main>

    <div class="bg-dark">
      <div class="container ">
        <footer class="d-flex flex-wrap justify-content-between py-3 text-white">
          <ul class="nav col-md-3 col-12">
            <li class="nav-item">
              <span class="nav-link text-white-50">&copy; 2021 Scifanchain.com {% translate "赛凡链" %}</span></li>
          </ul>
          <ul class="nav col-md-6 col-12">
            <li class="nav-item"><a href="https://docs.scifanchain.com/whitebook/"
                class="nav-link px-2 text-white-50">{% translate "白皮书" %}</a></li>
            <li class="nav-item"><a href="https://docs.scifanchain.com/roadmap/"
                class="nav-link px-2 text-white-50">{% translate "路线图" %}</a></li>
            <li class="nav-item"><a href="https://docs.scifanchain.com/manual/"
                class="nav-link px-2 text-white-50">{% translate "用户手册" %}</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white-50">{% translate "关于我们" %}</a></li>
          </ul>
          <ul class="nav col-md-3 col-12 justify-content-end">
            <li class="nav-item">
              <a href="https://github.com/scifanchain" target="_blank" class="nav-link text-white-50">
                <i class="bi bi-github"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://t.me/unityoxb" target="_blank" class="nav-link text-white-50">
                <i class="bi bi-telegram"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://discord.com/channels/876708038143250472/" target="_blank" class="nav-link text-muted">
                <i class="bi bi-discord"></i>
              </a>
            </li>
          </ul>
        </footer>
      </div>
    </div>

    <!-- 引入JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/dist/vendor.bundle.js' %}"></script>
    <script src="{% static 'js/dist/index.bundle.js' %}"></script>
    {% comment %} <script src="{% static 'js/dist/components.bundle.js' %}"></script> {% endcomment %}

    <!-- 加载Scifan的js组件或函数 -->
    {% block extraJsBottom %}{% endblock %}

  </body>

</html>