{% extends "layout.html" %}
{% load widget_tweaks%}


{% block content %}

<div class="container py-3">
    <form action="{% url 'community:create_topic' %}" method="post">
        {% csrf_token %}
        <div class="mb-2">{{form.title|add_class:"form-control"}}</div>
        <div class="mb-2">{{form.channel|add_class:"form-select"}}</div>
        <div class="mb-3">
            {{form.topic_body}}
        </div>
        <button type="submit" class="btn btn-danger px-4">提交</button>
    </form>
</div>

{% endblock content %}