{% extends "layout_account.html" %}
{% load i18n %}

{% block title %}密码重置完成{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'home' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}

<p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

<p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

<a href="{% url 'login' %}" class="btn btn-primary">返回登录页面</a>
<a href="{% url 'home' %}" class="btn btn-light">返回首页</a>

{% endblock %}
