{% extends "layout_authors.html" %}
{% load i18n %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a
    href="{{ docsroot }}">{% translate 'Documentation' %}</a> / {% endif %}{% translate 'Change password' %} / <a
    href="{% url 'logout' %}">{% translate 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'home' %}">{% translate 'Home' %}</a>
    &rsaquo; {% translate 'Password change' %}
</div>
{% endblock %}

{% block authors_main %}

<div class="px-5">
    <p class="text-success p-2 bg-success bg-opacity-10 rounded"><i class="bi bi-check2-circle pe-2"></i>{% translate '您的密码已成功修改。' %}</p>
    <p>{% translate '请牢记刚刚修改过的密码，以免权益蒙受损失。' %}</p>
</div>


{% endblock %}