{% extends "layout_account.html" %}
{% load i18n static %}
{% load widget_tweaks%}

{% block title %}重置密码{% endblock title %}

{% block content %}

<h4>重置密码</h4>
  <hr>

<p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email mb-3">
        {{ form.email.errors }}
        <label for="id_email" class="mb-2">{% translate 'Email address:' %}</label>
        <div class="col-4">
          {{ form.email|add_class:'form-control' }}
        </div>
    </div>
    <input type="submit" class="btn btn-info" value="{% translate 'Reset my password' %}">
</fieldset>
</form>



{% endblock %}
