{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks%}

{% block title %}注册{% endblock title %}

{% block content %}

<div class="container py-5">

  <div class="row">
    <div class="col-5">
      <h3>欢迎来到赛凡链</h3>
      <hr />
      {% if form.errors %}
      <div class="alert alert-danger" role="alert">请修正以下错误重新尝试。</div>

      {% endif %}
      <form action="{% url 'register' %}" method="post" class="">
        {% csrf_token %}
        <div class="mb-3">
          {{ form.username }}
          {% if form.username.help_text %}
          <span class="small">{{form.username.help_text}}</span>
          {% endif %}
        </div>

        <div class="mb-3">
          {{ form.email }}
          {% if form.email.help_text %}
          <span class="small">{{form.email.help_text}}</span>
          {% endif %}
        </div>

        <div class="mb-3">
          {{form.password1.errors}}
          {{ form.password1 }}
          {% if form.password1.help_text %}
          <div class="small help-text">{{form.password1.help_text|safe}}</div>
          {% endif %}
        </div>

        <div class="mb-3">
          {{form.password2.errors}}
          {{ form.password2 }}
          {% if form.password2.help_text %}
          <span class="small">{{form.password2.help_text}}</span>
          {% endif %}
        </div>
        <div class="d-grid gap-2 mb-3">
          <input type="submit" name="" id="" value="提交注册" class="btn btn-primary">
        </div>
      </form>
    </div>
    <div class="col-7 ps-5 pt-5 align-self-center">
      <div class="p-4 text-black-50">
        {% for w in word %}
        <p>{{w.phrase}}</p>
        <p class="text-end">——{{w.owner}}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}