.btn-sfc {
    background-color: #0dcaf0;
    color: white;
    font-weight: bold;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.avatar {
    width: 160px;
}

.avatar-tiny {
    width: 24px;
}

#topshow {
    background-color: #000000;
    background-image: url('../img/bg_01.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}


/* 前端创作编辑器
-------------------------------------------------- */
.ce-block__content,
.ce-toolbar__content {
     /* max-width: calc(100% - 80px) !important; */
    max-width: 90%;
}
.ce-block__content {
    position: relative;
    text-align: justify;
    text-justify: inter-word;
}

/* 表单
-------------------------------------------------- */
.help-text>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.errorlist {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color:lightcoral;
    /* font-size: 0.9rem;; */
}
ul.errorlist li {
    padding-top: 1px;
}

.form-control:focus {
    border-color: rgb(147, 71, 228);
    webkit-box-shadow: none;
    box-shadow: none;
}