{% extends 'layout.html' %}
{% load editorjs %}
{% load static%}

{% block extrajs %}
  <!-- 加载 React -->
  <!-- 注意: 部署时，将 "development.js" 替换为 "production.min.js" -->
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock extrajs %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-10">
        <h3>{{ stage.title }}</h3>
        <div id="editorjs" style="margin: 0 auto" class="border"></div>
        <a href="" class="btn btn-primary">保存</a>
        <div id="oxb"></div>
      </div>
    </div>
  </div>

{% endblock %}