{% extends 'layout.html' %}
{% load static %}

{%block extraCss %}
<link href="{% static 'css/markdown_code.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container-fluid mb-4 py-4">
  <div class="row mb-4">
    <div class="col-md-2 col-12 text-center">
      <h2 class="h4 bg-light py-2">分类</h2>
      <ul class="navbar-nav">
        {% for menu in menus %}
        <li class="nav-item border-bottom">
          <a class="nav-link active" aria-current="page" href="/blogs/category/{{ menu.id }}">{{ menu.name }}</a>
        </li>
        {% endfor %}
      </ul>
      <div class="mt-3">
        {% for sidebar in sidebars %}
        <h5 class="my-3">{{ sidebar.title }} </h5>
        {{ sidebar.content_html }}
        {% endfor %}
      </div>
    </div>
    <div class="col-md-10 col-12">
      {% block blog %}
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}