{% extends "layout_space.html" %}
{% load i18n static %}
{% load widget_tweaks %}

{% block space_main %}

<div class="px-4">

  <form method="post">{% csrf_token %}
    <div>
      <p>
        {% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}
      </p>

       {% if form.errors %}
       <div class="alert alert-danger" role="alert">用户名或密码错误，请重新尝试。</div>
       {% endif %}

      {% if form.errors %}
      <p class="errornote">
        {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
      </p>
      {% endif %}

      <fieldset class="mb-4">
        <div class="form-row">
          {{ form.old_password.errors }}
          {{ form.old_password.label_tag }}
          <div class="col-md-3">{{ form.old_password|add_class:"form-control" }}</div>
        </div>

        <div class="form-row">
          {{ form.new_password1.errors }}
          {% if form.errors %}
          <ol>
            {% for error in form.errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
          </ol>
          {% endif %}
          {{ form.new_password1.label_tag }}
          <div class="col-md-3">{{ form.new_password1|add_class:"form-control" }}</div>
          {% if form.new_password1.help_text %}
          <div class="help">{{ form.new_password1.help_text|safe }}</div>
          {% endif %}
        </div>

        <div class="form-row">
          {{ form.new_password2.errors }}
          {{ form.new_password2.label_tag }}
          <div class="col-md-3">{{ form.new_password2|add_class:"form-control" }}</div>
          {% if form.new_password2.help_text %}
          <div class="help">{{ form.new_password2.help_text|safe }}</div>
          {% endif %}
        </div>

      </fieldset>

      <div class="submit-row">
        <input type="submit" value="{% translate 'Change my password' %}" class="btn btn-sfc">
      </div>

    </div>
  </form>
</div>

{% endblock %}