{% extends "layout.html" %}
{% load static %}

{% block extraJsTop %}

{% endblock %}

{% block content %}

<div class=" px-4 mb-3 bg-light">导航</div>

  <div class="row p-4">
    <div class="col-md-2">
      <h6>作品属性</h6>
    </div>
    <div class="col-md-8">
      
      <h4>{{ stage.title }}</h4>
      <div id="StageViewWrap" class="py-4 bg-light" data-userId="{{ user.id }}" data-stageId="{{ stage.id }}"></div>
    </div>
    <div class="col-md-2">
      <h6>链上数据</h6>
    </div>
  </div>

{% endblock %}

{% block extraJsBottom %}
{% endblock %}